## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,71.42,overcast clouds,-23.1203,-134.9692,Rikitea
1,4,Georgetown,MY,82.89,moderate rain,5.4112,100.3354,George Town
2,6,Hilo,US,89.28,light rain,19.7297,-155.0900,Hilo
3,9,Nouakchott,MR,75.13,clear sky,18.0858,-15.9785,Nouakchott
4,12,Wanning,CN,78.19,overcast clouds,18.8003,110.3967,Wanning

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Tupelo")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Tupelo")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Marquette")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Fortuna")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Alamogordo")] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,34,Alamogordo,US,81.97,overcast clouds,32.8995,-105.9603,Alamogordo

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
end = vacation_end[["Lat", "Lng"]]
stop1 =vacation_stop1[["Lat", "Lng"]]
stop2 = vacation_stop2[["Lat", "Lng"]]
stop3 = vacation_stop3[["Lat", "Lng"]]
print(start)
print(stop1)
print(stop2)
print(stop3)

         Lat      Lng
157  34.2576 -88.7034
         Lat      Lng
268  46.5333 -87.6335
        Lat       Lng
68  40.5982 -124.1573
        Lat       Lng
12  32.8995 -105.9603

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)
start=(34.2576,-88.7034)
end=(34.2576,-88.7034)
stop1=(46.5333, -87.6335)
stop2=(40.5982, -124.1573)
stop3=(32.8995, -105.9603)
fig = gmaps.figure()
start_stops_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(start_stops_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
frames= [vacation_start,vacation_stop1,vacation_stop2,vacation_stop3]
itinerary_df = pd.concat(frames,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,387,Tupelo,US,84.97,scattered clouds,34.2576,-88.7034,Tupelo
1,616,Marquette,US,82.81,broken clouds,46.5333,-87.6335,Ishpeming
2,161,Fortuna,US,71.85,few clouds,40.5982,-124.1573,Fortuna
3,34,Alamogordo,US,81.97,overcast clouds,32.8995,-105.9603,Alamogordo

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F </dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Deliverable3 ends